@font-face {
  font-family: 'xtein';
  src:  url('fonts/xtein.eot?5xh8cw');
  src:  url('fonts/xtein.eot?5xh8cw#iefix') format('embedded-opentype'),
    url('fonts/xtein.ttf?5xh8cw') format('truetype'),
    url('fonts/xtein.woff?5xh8cw') format('woff'),
    url('fonts/xtein.svg?5xh8cw#xtein') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xtein' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 22px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xtein-pdf:before {
  content: "\e91f";
}
.xtein-xlsx:before {
  content: "\e94d";
}
.xtein-minus:before {
  content: "\e987";
}
.xtein-minus_hover .path1:before {
  content: "\1f56e";
  color: rgb(219, 219, 219);
}
.xtein-minus_hover .path2:before {
  content: "\1f56f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.xtein-minus_hover .path3:before {
  content: "\1f570";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.xtein-minus_light:before {
  content: "\e98b";
}
.xtein-plus:before {
  content: "\e981";
}
.xtein-plus_hover .path1:before {
  content: "\e982";
  color: rgb(219, 219, 219);
}
.xtein-plus_hover .path2:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.xtein-plus_hover .path3:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.xtein-plus_hover .path4:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.xtein-plus_light:before {
  content: "\e986";
}
.xtein-accept:before {
  content: "\e904";
}
.xtein-accept_hover .path1:before {
  content: "\e905";
  color: rgb(219, 219, 219);
}
.xtein-accept_hover .path2:before {
  content: "\e906";
  margin-left: -0.998046875em;
  color: rgb(0, 0, 0);
}
.xtein-accept_hover .path3:before {
  content: "\e907";
  margin-left: -0.998046875em;
  color: rgb(0, 0, 0);
}
.xtein-arrow_left:before {
  content: "\e908";
}
.xtein-arrow_left_hover .path1:before {
  content: "\e909";
  color: rgb(219, 219, 219);
}
.xtein-arrow_left_hover .path2:before {
  content: "\e90a";
  margin-left: -0.6181640625em;
  color: rgb(0, 0, 0);
}
.xtein-arrow_light_left:before {
  content: "\e90b";
}
.xtein-arrow_light_left_star:before {
  content: "\e90c";
}
.xtein-arrow_light_right:before {
  content: "\e90d";
}
.xtein-arrow_light_right_end:before {
  content: "\e90e";
}
.xtein-arrow_right:before {
  content: "\e90f";
}
.xtein-arrow_right_hover .path1:before {
  content: "\e910";
  color: rgb(219, 219, 219);
}
.xtein-arrow_right_hover .path2:before {
  content: "\e911";
  margin-left: -0.6181640625em;
  color: rgb(0, 0, 0);
}
.xtein-cancel:before {
  content: "\e912";
}
.xtein-cancel_hover .path1:before {
  content: "\e913";
  color: rgb(219, 219, 219);
}
.xtein-cancel_hover .path2:before {
  content: "\e914";
  margin-left: -0.998046875em;
  color: rgb(0, 0, 0);
}
.xtein-cancel_hover .path3:before {
  content: "\e915";
  margin-left: -0.998046875em;
  color: rgb(0, 0, 0);
}
.xtein-cancel_hover .path4:before {
  content: "\e916";
  margin-left: -0.998046875em;
  color: rgb(0, 0, 0);
}
.xtein-check:before {
  content: "\e917";
}
.xtein-check_bold:before {
  content: "\e918";
}
.xtein-check_bold_hover .path1:before {
  content: "\e919";
  color: rgb(219, 219, 219);
}
.xtein-check_bold_hover .path2:before {
  content: "\e91a";
  margin-left: -1.2822265625em;
  color: rgb(0, 0, 0);
}
.xtein-copy:before {
  content: "\e91b";
}
.xtein-copy_hover .path1:before {
  content: "\e91c";
  color: rgb(0, 0, 0);
}
.xtein-copy_hover .path2:before {
  content: "\e91d";
  margin-left: -0.900390625em;
  color: rgb(219, 219, 219);
}
.xtein-copy_hover .path3:before {
  content: "\e91e";
  margin-left: -0.900390625em;
  color: rgb(0, 0, 0);
}
.xtein-delete:before {
  content: "\31";
}
.xtein-delete_hover .path1:before {
  content: "\e920";
  color: rgb(0, 0, 0);
}
.xtein-delete_hover .path2:before {
  content: "\e921";
  margin-left: -0.8603515625em;
  color: rgb(219, 219, 219);
}
.xtein-delete_hover .path3:before {
  content: "\e922";
  margin-left: -0.8603515625em;
  color: rgb(0, 0, 0);
}
.xtein-delete_hover .path4:before {
  content: "\e923";
  margin-left: -0.8603515625em;
  color: rgb(0, 0, 0);
}
.xtein-delete_hover .path5:before {
  content: "\e924";
  margin-left: -0.8603515625em;
  color: rgb(0, 0, 0);
}
.xtein-delete_hover .path6:before {
  content: "\e925";
  margin-left: -0.8603515625em;
  color: rgb(0, 0, 0);
}
.xtein-delete_hover .path7:before {
  content: "\e926";
  margin-left: -0.8603515625em;
  color: rgb(0, 0, 0);
}
.xtein-delete_hover .path8:before {
  content: "\e927";
  margin-left: -0.8603515625em;
  color: rgb(0, 0, 0);
}
.xtein-delete_hover .path9:before {
  content: "\e928";
  margin-left: -0.8603515625em;
  color: rgb(0, 0, 0);
}
.xtein-delete_hover .path10:before {
  content: "\e929";
  margin-left: -0.8603515625em;
  color: rgb(0, 0, 0);
}
.xtein-delete_hover .path11:before {
  content: "\e92a";
  margin-left: -0.8603515625em;
  color: rgb(0, 0, 0);
}
.xtein-download:before {
  content: "\e92b";
}
.xtein-edit1:before {
  content: "\e92c";
}
.xtein-edit_hover .path1:before {
  content: "\e92d";
  color: rgb(0, 0, 0);
}
.xtein-edit_hover .path2:before {
  content: "\e92e";
  margin-left: -0.99609375em;
  color: rgb(0, 0, 0);
}
.xtein-edit_hover .path3:before {
  content: "\e92f";
  margin-left: -0.99609375em;
  color: rgb(219, 219, 219);
}
.xtein-edit_hover .path4:before {
  content: "\e930";
  margin-left: -0.99609375em;
  color: rgb(0, 0, 0);
}
.xtein-exit:before {
  content: "\e931";
}
.xtein-exit_hover .path1:before {
  content: "\e932";
  color: rgb(0, 0, 0);
}
.xtein-exit_hover .path2:before {
  content: "\e933";
  margin-left: -1.0361328125em;
  color: rgb(0, 0, 0);
}
.xtein-exit_hover .path3:before {
  content: "\e934";
  margin-left: -1.0361328125em;
  color: rgb(219, 219, 219);
}
.xtein-exit_hover .path4:before {
  content: "\e935";
  margin-left: -1.0361328125em;
  color: rgb(0, 0, 0);
}
.xtein-exit_hover .path5:before {
  content: "\e936";
  margin-left: -1.0361328125em;
  color: rgb(0, 0, 0);
}
.xtein-exit_hover .path6:before {
  content: "\e937";
  margin-left: -1.0361328125em;
  color: rgb(0, 0, 0);
}
.xtein-filter:before {
  content: "\e938";
}
.xtein-filter_docs:before {
  content: "\e939";
}
.xtein-filter_docs_hover .path1:before {
  content: "\e93a";
  color: rgb(0, 0, 0);
}
.xtein-filter_docs_hover .path2:before {
  content: "\e93b";
  margin-left: -1.0244140625em;
  color: rgb(219, 219, 219);
}
.xtein-filter_docs_hover .path3:before {
  content: "\e93c";
  margin-left: -1.0244140625em;
  color: rgb(0, 0, 0);
}
.xtein-filter_docs_hover .path4:before {
  content: "\e93d";
  margin-left: -1.0244140625em;
  color: rgb(0, 0, 0);
}
.xtein-filter_docs_hover .path5:before {
  content: "\e93e";
  margin-left: -1.0244140625em;
  color: rgb(0, 0, 0);
}
.xtein-filter_hover .path1:before {
  content: "\e93f";
  color: rgb(219, 219, 219);
}
.xtein-filter_hover .path2:before {
  content: "\e940";
  margin-left: -0.93359375em;
  color: rgb(0, 0, 0);
}
.xtein-get_in:before {
  content: "\e941";
}
.xtein-get_in_hover .path1:before {
  content: "\e942";
  color: rgb(0, 0, 0);
}
.xtein-get_in_hover .path2:before {
  content: "\e943";
  margin-left: -0.9521484375em;
  color: rgb(0, 0, 0);
}
.xtein-get_in_hover .path3:before {
  content: "\e944";
  margin-left: -0.9521484375em;
  color: rgb(219, 219, 219);
}
.xtein-get_in_hover .path4:before {
  content: "\e945";
  margin-left: -0.9521484375em;
  color: rgb(0, 0, 0);
}
.xtein-get_in_hover .path5:before {
  content: "\e946";
  margin-left: -0.9521484375em;
  color: rgb(0, 0, 0);
}
.xtein-get_in_hover .path6:before {
  content: "\e947";
  margin-left: -0.9521484375em;
  color: rgb(0, 0, 0);
}
.xtein-inbox:before {
  content: "\e948";
}
.xtein-inbox_hover .path1:before {
  content: "\e949";
  color: rgb(0, 0, 0);
}
.xtein-inbox_hover .path2:before {
  content: "\e94a";
  margin-left: -1.2119140625em;
  color: rgb(219, 219, 219);
}
.xtein-inbox_hover .path3:before {
  content: "\e94b";
  margin-left: -1.2119140625em;
  color: rgb(0, 0, 0);
}
.xtein-inbox_notification:before {
  content: "\e94c";
}
.xtein-inbox_notification_hover .path1:before {
  content: "\e742";
  color: rgb(219, 219, 219);
}
.xtein-inbox_notification_hover .path2:before {
  content: "\e743";
  margin-left: -1.2119140625em;
  color: rgb(0, 0, 0);
}
.xtein-inbox_notification_hover .path3:before {
  content: "\e744";
  margin-left: -1.2119140625em;
  color: rgb(0, 0, 0);
}
.xtein-inbox_notification_hover .path4:before {
  content: "\e745";
  margin-left: -1.2119140625em;
  color: rgb(219, 219, 219);
}
.xtein-inbox_notification_hover .path5:before {
  content: "\e746";
  margin-left: -1.2119140625em;
  color: rgb(0, 0, 0);
}
.xtein-inbox_notification_hover .path6:before {
  content: "\e747";
  margin-left: -1.2119140625em;
  color: rgb(0, 0, 0);
}
.xtein-loading:before {
  content: "\e953";
}
.xtein-magnifying:before {
  content: "\e954";
}
.xtein-magnifying_hover .path1:before {
  content: "\e955";
  color: rgb(219, 219, 219);
}
.xtein-magnifying_hover .path2:before {
  content: "\e956";
  margin-left: -0.994140625em;
  color: rgb(0, 0, 0);
}
.xtein-magnifying_hover .path3:before {
  content: "\e957";
  margin-left: -0.994140625em;
  color: rgb(0, 0, 0);
}
.xtein-magnifying_hover .path4:before {
  content: "\e958";
  margin-left: -0.994140625em;
  color: rgb(0, 0, 0);
}
.xtein-paste:before {
  content: "\e959";
}
.xtein-paste_hover .path1:before {
  content: "\e95a";
  color: rgb(0, 0, 0);
}
.xtein-paste_hover .path2:before {
  content: "\e95b";
  margin-left: -0.900390625em;
  color: rgb(219, 219, 219);
}
.xtein-paste_hover .path3:before {
  content: "\e95c";
  margin-left: -0.900390625em;
  color: rgb(0, 0, 0);
}
.xtein-paste_hover .path4:before {
  content: "\e95d";
  margin-left: -0.900390625em;
  color: rgb(0, 0, 0);
}
.xtein-paste_hover .path5:before {
  content: "\e95e";
  margin-left: -0.900390625em;
  color: rgb(0, 0, 0);
}
.xtein-paste_hover .path6:before {
  content: "\e95f";
  margin-left: -0.900390625em;
  color: rgb(0, 0, 0);
}
.xtein-print:before {
  content: "\e960";
}
.xtein-print_hover .path1:before {
  content: "\e961";
  color: rgb(219, 219, 219);
}
.xtein-print_hover .path2:before {
  content: "\e962";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.xtein-print_hover .path3:before {
  content: "\e963";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.xtein-print_hover .path4:before {
  content: "\e964";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.xtein-print_hover .path5:before {
  content: "\e965";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.xtein-print_hover .path6:before {
  content: "\e966";
  margin-left: -1.0341796875em;
  color: rgb(0, 0, 0);
}
.xtein-realoading:before {
  content: "\e967";
}
.xtein-realoading_hover .path1:before {
  content: "\e968";
  color: rgb(219, 219, 219);
}
.xtein-realoading_hover .path2:before {
  content: "\e969";
  margin-left: -0.986328125em;
  color: rgb(0, 0, 0);
}
.xtein-realoading_hover .path3:before {
  content: "\e96a";
  margin-left: -0.986328125em;
  color: rgb(0, 0, 0);
}
.xtein-see:before {
  content: "\e96b";
}
.xtein-see_hover .path1:before {
  content: "\e96c";
  color: rgb(219, 219, 219);
}
.xtein-see_hover .path2:before {
  content: "\e96d";
  margin-left: -1.318359375em;
  color: rgb(0, 0, 0);
}
.xtein-see_hover .path3:before {
  content: "\e96e";
  margin-left: -1.318359375em;
  color: rgb(0, 0, 0);
}
.xtein-sort_down:before {
  content: "\e96f";
}
.xtein-sort_down_hover .path1:before {
  content: "\e970";
  color: rgb(0, 0, 0);
}
.xtein-sort_down_hover .path2:before {
  content: "\e971";
  margin-left: -1.08203125em;
  color: rgb(0, 0, 0);
}
.xtein-sort_down_hover .path3:before {
  content: "\e972";
  margin-left: -1.08203125em;
  color: rgb(0, 0, 0);
}
.xtein-sort_down_hover .path4:before {
  content: "\e973";
  margin-left: -1.08203125em;
  color: rgb(219, 219, 219);
}
.xtein-sort_down_hover .path5:before {
  content: "\e974";
  margin-left: -1.08203125em;
  color: rgb(0, 0, 0);
}
.xtein-sort_up:before {
  content: "\e975";
}
.xtein-sort_up_hover .path1:before {
  content: "\e976";
  color: rgb(219, 219, 219);
}
.xtein-sort_up_hover .path2:before {
  content: "\e977";
  margin-left: -1.08203125em;
  color: rgb(0, 0, 0);
}
.xtein-sort_up_hover .path3:before {
  content: "\e978";
  margin-left: -1.08203125em;
  color: rgb(0, 0, 0);
}
.xtein-sort_up_hover .path4:before {
  content: "\e979";
  margin-left: -1.08203125em;
  color: rgb(0, 0, 0);
}
.xtein-sort_up_hover .path5:before {
  content: "\e97a";
  margin-left: -1.08203125em;
  color: rgb(0, 0, 0);
}
.xtein-zoom:before {
  content: "\e97b";
}
.xtein-zoom_hover .path1:before {
  content: "\e97c";
  color: rgb(219, 219, 219);
}
.xtein-zoom_hover .path2:before {
  content: "\e97d";
  margin-left: -0.994140625em;
  color: rgb(0, 0, 0);
}
.xtein-zoom_hover .path3:before {
  content: "\e97e";
  margin-left: -0.994140625em;
  color: rgb(0, 0, 0);
}
.xtein-zoom_hover .path4:before {
  content: "\e97f";
  margin-left: -0.994140625em;
  color: none;
}
.xtein-zoom_hover .path5:before {
  content: "\e980";
  margin-left: -0.994140625em;
  color: none;
}
.xtein-devolucion:before {
  content: "\e900";
}
.xtein-edit:before {
  content: "\e901";
}
.xtein-safe:before {
  content: "\e902";
}
.xtein-user:before {
  content: "\e903";
}
